{% load thumbnail %}
{% load embed_video_tags %}

<div id={{ post.post_number }} data-type="post" class="card">
<div class="content">
  <span class="text-success">{{ post.name }}</span>
  {% if post.poster_id %}
    <span class="text-warning">ID: {{ post.poster_id }}</span>
  {% endif %}
  <span>{{ post.get_date }}</span>
  <span class="post_number" data-post-number="{{ post.post_number }}">No. {{ post.post_number }}</span>
  {% if moderation_view == False %}
    <a href="{{ post.get_report_url }}">
      Report</a>
  {% endif %}
  {% if post.reported and moderation_view == True %}
    <a href="{{ post.get_report_dismiss_url }}">
        Dismiss</a>
  {% endif %}
  {% if perms.moderation.add_transgression %}
    <a href="{{ post.get_ban_url }}">
      Ban</a>
  {% endif %}
  {% if perms.imageboard.delete_userpost %}
    <a href="{{ post.get_delete_url }}">
      Delete</a>
  {% endif %}

  {% if post.image %}
    <p>
      <div class="grid-flex">
        {% thumbnail post.image "200x200" as img %}
          <a class="image" href="{{ post.image.url }}">
            <img src="{{ img.url }}"
              data-url="{{ img.url }}" 
              height="{{ img.height }}" 
              width="{{ img.width }}">
          </a>
        {% endthumbnail %}
      </div>
    </p>
  {% endif %}
  
  {% if post.embed %}
    <div class="grid-flex">
      <div class="content">
        {% video post.embed '100% x 100%' %}
      </div>
    </div>
  {% endif %}

  <p class="post_container">{{ post.post }}</p>

</div>
</div>
