{% extends parent_template|default:"imageboard/base_imageboard.html" %}
{% load imageboard_objects %}
{% load url_replace %}

{% block title %}
  {{ board.name }}
{% endblock %}

{% block img_content %}
  <div>
    <h3>{{ board.name }}</h3>
  </div>
  
  <a href="{{ board.get_catalog_url }}">
    <p class="text-center">Catalog</p>
  </a>

  {% for thread in thread_list %}
    <div>
      {% thread_format thread %} 
      <div class="card">
        <div class="content">
          {% with post_count=thread.posts.count %}
            <span>{{ post_count }} repl{{ post_count|pluralize:"y,ies" }}</span>
          {% endwith %}
          <a href="{{ thread.get_absolute_url }}">
            View Thread</a>
        </div>
      </div>
    </div>

  {% empty %}
    <p class="text center">No threads found.</p>
  {% endfor %}

  {% if is_paginated %}
    <div class="pagination no-flex">
      {% for page_number in page_obj.paginator.page_range %}
          <a href="?{% url_replace page=page_number %}">
            {{ page_number }}</a>
      {% endfor %}
    </div>

  {% endif %}

 
  {% if moderation_view == False %}
    <div class="card card-shadow">
      <div class="content">
        {% include 'imageboard/thread_form.html' %}
      </div>
    </div>
  {% endif %}

  
{% endblock %}

