{% extends parent_template|default:"imageboard/base_imageboard.html" %}

{% block img_content %}
  {% for thread in thread_list %}
    <div id={{ thread.thread_number }}>
      {% if thread.subject %}
      <span>{{ thread.subject }}</span>
      {% endif %}
      <span>{{ thread.name }}</span>
      <span>{{ thread.get_date }}</span>
      <span>No. {{ thread.thread_number }}</span>
      <p>{{ thread.post }}</p>
      <a href="{{ thread.get_absolute_url }}">
        View Thread</a>
    </div>
  {% endfor %}

  {% include 'imageboard/thread_form.html' %}

  {% if is_paginated %}
    <div>
      {% for page_number in page_obj.paginator.page_range %}
          <a href="{{ page_url }}{{page_number}}">
            [{{ page_number }}]</a>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

