{% extends parent_template|default:"imageboard/base_imageboard.html" %}
{% load imageboard_objects %}

{% block img_content %}
  <div>
    <h3>{{ board.name }}</h3>
  </div>
  {% for thread in thread_list %}
    <div>
      {% thread_format thread %} 
      <div class="card card-shadow">
        <div class="content">
          {% with post_count=thread.posts.count %}
            <span>{{ post_count }} repl{{ post_count|pluralize:"y,ies" }}</span>
          {% endwith %}
          <a href="{{ thread.get_absolute_url }}">
            View Thread</a>
        </div>
      </div>
    </div>
  {% endfor %}
 
  {% if moderation_view == False %}
    <div class="card card-shadow">
      <div class="content">
        {% include 'imageboard/thread_form.html' %}
      </div>
    </div>
  {% endif %}

  {% if is_paginated and moderation_board_url %}
    <div>
      {% for page_number in page_obj.paginator.page_range %}
          <a href="{{ moderation_board_url }}&{{ page_url|cut:"?" }}{{page_number}}">
            [{{ page_number }}]</a>
      {% endfor %}
    </div>

  {% endif %}

  {% if is_paginated and not moderation_board_url %}
    <div>
      {% for page_number in page_obj.paginator.page_range %}
          <a href="{{ page_url }}{{page_number}}">
            [{{ page_number }}]</a>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

