{% extends parent_template|default:"imageboard/base_imageboard.html" %}
{% load imageboard_objects %}

{% block title %}
  Thread No. {{ thread.thread_number }}
{% endblock %}
 
{% block img_content %}
  <div>
    {% thread_format thread %}  

    {% for post in thread.cached_posts %}
      {% post_format post %} 
    {% endfor %}

  </div>
  <div class="card card-shadow">
    <div class="content">
      {% if thread.archived == False %}
        {% include "imageboard/userpost_form.html" %}
      {% else %}
        <p>Thread archived. You cannot reply anymore.</p>
      {% endif %}
    </div>
  </div>
{% endblock %} 
