{% extends parent_template|default:"imageboard/base_imageboard.html" %}
{% load thumbnail %}

{% block title %}
  {{ board.name }} - Catalog
{% endblock %}

{% block img_content %}
  <div>
    <a href="{{ board.get_absolute_url }}">
      <h3>{{ board.name }}<h3></a>
  </div>
  <span>
    <form
      action="{{ board.get_catalog_url }}"
      method="post">
      {% csrf_token %}
      <input type="text" name="search_term">
      <button type="submit">
        Search</button>
    </form>
  </span> 

  <div class="row">
    {% for thread in thread_list %}
      <div class="columns three desktop" id={{ thread.thread_number }}>
        <div class="card card-shadow">
          <div class="content">
            <div class="grid-flex">
              <div class="content">
                {% thumbnail thread.image "200" as img %}
                  <a href="{{ thread.image.url }}">
                    <img src="{{ img.url }}" height="{{ img.height }}" width="{{ img.width }}">
                  </a>
                {% endthumbnail %}
              </div>
            </div>
            <span>R: {{ thread.posts.all.count }}</span>
            <a href="{{ thread.get_absolute_url }}">
              View</a>
            {% if thread.subject %}
              <p>{{ thread.subject }}</p>
            {% endif %}
            <p>{{ thread.post|truncatechars:100 }}</p>
        </div>
      </div>
    </div>
  
    
  {% empty %}
    <h3>Nothing found.</h3>
  {% endfor %}
  </div> 

  <div>
    <p class="content text-center">
      <a href="{{ board.get_absolute_url }}">
        Back</a> 
    </p>
   
  </div>

{% endblock %}
      
