{% extends parent_template|default:"imageboard/base_imageboard.html" %}

{% block title %}
  Confirm Delete
{% endblock %}

{% block img_content %}
  <div class="card card-shadow">
   <div class="content">
    <form 
      action="{{ userpost.get_delete_url }}"
      method="post">
    {% csrf_token %}
      <p>Are you sure you want to delete
        post No. {{ userpost.post_number }}?
      </p>
      
      <a href="{{ userpost.get_absolute_url }}">
        Cancel</a>

      <button type="submit">Delete Post</button>
      
    </form>
   </div>
  </div>
{% endblock %}

