{% load thumbnail %}
{% load embed_video_tags %}

<div id={{ thread.thread_number }} class="card">
<div class="content">
  {% if thread.subject %}
    <span>{{ thread.subject }}</span>
  {% endif %}
  <span class="text-success">{{ thread.name }}</span>
   {% if thread.id_enabled %}
    <span class="text-warning">ID: {{ thread.poster_id }}</span>
  {% endif %}
  <span>{{ thread.get_date }}</span>
  <span>No. {{ thread.thread_number }}</span> 
  {% if thread.pinned %}
    <span class="text-error">Pinned</span>
  {% endif %}
  {% if moderation_view == False %}
    <a href="{{ thread.get_report_url }}">
      Report</a>
  {% endif %}
  {% if thread.reported == True and moderation_view == True %}
    <a href="{{ thread.get_report_dismiss_url }}">
      Dismiss</a>
  {% endif %}
  {% if perms.moderation.add_transgression %}
    <a href="{{ thread.get_ban_url }}">
      Ban</a>
  {% endif %}
  {% if perms.imageboard.delete_thread %}
    <a href="{{ thread.get_delete_url }}">
      Delete</a>
  {% endif %}
    
  {% thumbnail thread.image "200x200" as img %}
    <p> 
      <div class="grid-flex">
        <a href="{{ thread.image.url }}">
          <img src="{{ img.url }}" height="{{ img.height }}" width="{{ img.width }}">
        </a>
      </div>
    </p>
  {% endthumbnail %}
    
  {% if thread.embed %}
    <div class="grid-flex">
      <div class="content">
        {% video thread.embed '100% x 100%' %}
      </div>
    </div>
  {% endif %}

  <p>{{ thread.post }}</p>

</div>
</div>

