{% load thumbnail %}

<div id={{ post.post_number }} class="card card-shadow">
<div class="content">
  <span>{{ post.name }}</span>
  <span>{{ post.get_date }}</span>
  <span>No. {{ post.post_number }}</span>
  {% if moderation_view == False %}
    <a href="{{ post.get_report_url }}">
      Report</a>
  {% endif %}
  {% if post.reported and moderation_view == True %}
    <a href="{{ post.get_report_dismiss_url }}">
        Dismiss</a>
  {% endif %}
  {% if perms.moderation.add_transgression %}
    <a href="{{ post.get_ban_url }}">
      Ban</a>
  {% endif %}
  {% if perms.imageboard.delete_userpost %}
    <a href="{{ post.get_delete_url }}">
      Delete</a>
  {% endif %}
  <div>
    <div class="grid-flex">
      {% if post.image %}
        <p class="content">
          {% thumbnail post.image "200x200" as img %}
            <a href="{{ post.image.url }}">
              <img src="{{ img.url }}" height="{{ img.width }}" height="{{ img.height }}">
            </a>
          {% endthumbnail %}
        </p>
      {% endif %}
    </div>
    <div>
      <p>{{ post.post }}</p>
    </div>
  </div>

</div>
</div>
