{% load thumbnail %}
{% load embed_video_tags %}

<div id={{ post.post_number }} class="card">
<div class="content">
  <span>{{ post.name }}</span>
  <span>{{ post.get_date }}</span>
  <span>No. {{ post.post_number }}</span>
  {% if moderation_view == False %}
    <a href="{{ post.get_report_url }}">
      Report</a>
  {% endif %}
  {% if post.reported and moderation_view == True %}
    <a href="{{ post.get_report_dismiss_url }}">
        Dismiss</a>
  {% endif %}
  {% if perms.moderation.add_transgression %}
    <a href="{{ post.get_ban_url }}">
      Ban</a>
  {% endif %}
  {% if perms.imageboard.delete_userpost %}
    <a href="{{ post.get_delete_url }}">
      Delete</a>
  {% endif %}
  <div>
    <div class="grid-flex">
      {% if post.image %}
        <div class="content">
          {% thumbnail post.image "200x200" as img %}
            <a href="{{ post.image.url }}">
              <img src="{{ img.url }}" height="{{ img.height }}" width="{{ img.width }}">
            </a>
          {% endthumbnail %}
        </div>
      {% endif %}
    </div>
    <div>
      <div class="grid-flex">
        <div class="content">
          {% video post.embed '100% x 100%' %}
        </div>
      </div>
      <p>{{ post.post }}</p>
    </div>
  </div>

</div>
</div>
