{% extends parent_template|default:"navigation/base_navigation.html" %}

{% block title %}
  Board List
{% endblock %}

{% block nav_content %}
  {% for board in board_list %}
    <div class="card card-shadow">
      <div class="content">
        <a href="{{ board.get_absolute_url }}">
          <h5>{{ board.name }}</h5></a>
        {% if perms.moderation.add_transgression %} 
          <a href="{{ board.get_reported_threads_url }}">
            Reported Threads</a>
          <a href="{{ board.get_reported_posts_url }}">
            Reported Posts</a>
        {% endif %}
        <p>{{ board.description }}</p>
      </div>
    </div>
  {% empty %}
    <p>No boards found. Add them in the admin.</p>
  {% endfor %}
{% endblock %}
        
