{% extends parent_template|default:"imageboard/base_imageboard.html" %}
{% load imageboard_objects %}

{% block title %}
  Reported Posts
{% endblock %}

{% block img_content %}
  {% for post in post_list %}
    {% post_format post %} 
  {% empty %}
    <h3>No reported posts.</h3>
  {% endfor %}

  {% if is_paginated and moderation_board_url %}
    <div>
      {% for page_number in page_obj.paginator.page_range %}
          <a href="{{ moderation_board_url }}&{{ page_url|cut:"?" }}{{page_number}}">
            [{{ page_number }}]</a>
      {% endfor %}
    </div>

  {% endif %}

  {% if is_paginated and not moderation_board_url %}
    <div>
      {% for page_number in page_obj.paginator.page_range %}
          <a href="{{ page_url }}{{page_number}}">
            [{{ page_number }}]</a>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %} 
