{% extends parent_template|default:"moderation/base_moderation.html" %}

{% block mod_content %}
<div>
  {% if transgression_list %}
    <h3>You have the following ban{{ transgression_list.all|pluralize }}:</h3>
      {% for transgression in transgression_list %}
        <p>You were banned for: 
          {{ transgression.reason }} <br>
          This ban will expire on {{ transgression.banned_until|date:"H:i, j.n.o" }}, 
          which is {{ transgression.banned_until|timeuntil }} from now.
          The IP address you were posting from was {{ transgression.ip_address }}.
        </p>
      {% endfor %}

  {% else %}
    <h3>You are not currently banned.</h3>

  {% endif %}
{% endblock %}
