{% extends parent_template|default:"navigation/base_navigation.html" %}
{% load imageboard_objects %}

{% block title %}
  Imagenaut 
{% endblock %}

{% block nav_content %}
  <div class="card card-shadow">
    <div class="content">
      <p>Imagenaut is an anonymous imageboard engine</p>
    </div>
  </div>

  <div class="card card-shadow">
    <div class="content">
      <p>Latest posts:</p>
        {% for post in latest_posts %}
          {% post_format post %}
            <div class="card card-shadow">
              <div class="content">
                <a href="{{ post.get_absolute_url }}">
                  View Thread</a>
              </div>
            </div>
        
        {% empty %} 
          <p>No latest posts found.</p>
     
        {% endfor %}
    </div>
  </div>
     
{% endblock %} 
